doctype html
html
    head
        meta(charset="UTF-8")
        title="Node Hello world example"
        
    body
        h1 #{header}
        form(action="http://localhost:3000//auth/google", method="POST")
            p Username: 
                input(type="text", name="username", required='true')
            p Password: 
                input(type="password", name="password", required='true')
            input(type="submit", value="Login")

